@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* fonte Montserrat */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(133, 249, 210);
}

/* NAV BAR */


/* FORM */
