@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* fonte Montserrat */

/* colors: 
bg color green: rgb(43, 185, 138); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 147, 104);
    font-family: 'Montserrat', sans-serif;
}

#page-wrapper {
    position: relative;
}

/* NAV BAR */
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;

    width: 100vw;
    z-index: 2;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
        padding: 15px;
    }
}

#header-img {
    background: transparent;
    height: 70px;
    z-index: 1;
}

.logo {
    width: 60vw;
    height: auto;
    padding: 10px;
    background: transparent;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 650px) {
    .logo {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}

#brand-name {
    background: transparent;
    padding-left: 10px;
}

nav {
    font-weight: 400;
}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 650px) {
    nav>ul {
        flex-direction: column;
    }
    nav>ul>li {
        padding-top: 10px;
    }
}

/* FORM */
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    background: whitesmoke;
    cursor: pointer;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
    color: white;
}

#hero input[type='email'] {
    max-width: 300px;
    width: 100%;
    /* padding: 8px; */
    height: 30px;
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 2px;
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 3pxpx;
    border: none;
    background-color: whitesmoke;
}

#hero input[type='submit']:hover {
    background-color: rgb(210, 231, 217);
}

@media (max-width: 650px) {
    #hero {
        margin-top: 120px;

        /* flex-direction: column; */
    }
}

@media (max-width: 650px){
    #hero h2 {
        text-align: center;
        padding: 10px;
    }
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 550px){
    form {
        flex-direction: column;
        width: 80%;
    }
}

#email {
    margin: 10px;
    background-color: whitesmoke;


}


/* FEATURES */
.container {
    /* max-width: 1000px; */
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    top: 95px;
}

.grid {
    display: flex;
    background-color: whitesmoke;
    color: rgb(22, 96, 71);
    padding: 10px;
    max-width: 750px;
    margin: 15px auto;
    border-radius: 5px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: rgb(22, 96, 71);
    font-size: 40px;
}

@media (max-width: 550px) {
    #features .icon {
        display: none;
    }
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px){
    #features .desc{
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

@media (max-width: 650px){
    #features {
        margin-top: 0;
    }
}

/*    VIDEO    */

#how-it-works {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works>iframe {
    max-width: 560px;
    width: 100%;
}


/*    PRICING    */

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    background-color: whitesmoke;
    border: none;
    width: calc(100%/3);
    margin: 15px;
    /* padding: 0 15px; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.598);
}

@media (max-width:800px){
    #pricing {
        flex-direction: column;
    }
    .product{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.product>.level {
    background-color: rgb(22, 96, 71);
    color: white;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
}

.product>h2 {
    margin-top: 15px;
}

.product>#ul-product {
    margin: 15px 0;
}

.product>#ul-product>li {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: rgb(22, 96, 71);
    font-weight: 400;
    border-radius: 5px;
    color: whitesmoke;
}

.product>button:hover {
    background-color: rgb(27, 112, 84);
    transition: background-color 0.5s;

}

/*      FOOTER      */
footer {
    margin-top: 30px;
    background-color: whitesmoke;
    padding: 20px;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer>ul>li {
    /* padding: 0 10px; */
    padding-left: 20px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
    width: 100%;
}
/* Consertar o botão do form no media query */

/* Coisas que precisam ser acertadas
a altura das sessões quando aperta na nav
 
o width que fica criando scrool horizontal

caso queira fazer as features ocupar toda a horizontal
*/