@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* fonte Montserrat */

/* colors: 
bg color green: rgb(43, 185, 138); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 147, 104);
    font-family: 'Montserrat', sans-serif;
}

#page-wrapper {
    position: relative;
}

/* NAV BAR */
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;

    width: 100vw;
    z-index: 2;
}

#header-img {
    background: transparent;
    height: 70px;
    z-index: 1;
}

.logo {
    width: 60vw;
    height: auto;
    padding: 10px;
    background: transparent;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#brand-name {
    background: transparent;
    padding-left: 10px;
}

nav {
    font-weight: 400;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* FORM */
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    background: whitesmoke;
    cursor: pointer;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
    color: white;
}

#hero input[type='email']{
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}

#hero input[type='submit']{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 2px 0;
    border: 0;
    background-color: whitesmoke;
}

#hero input[type='submit']:hover {
    background-color: rgb(210, 231, 217);
}

/* FEATURES */
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    top: 95px;
}

.grid {
    display: flex;
    background-color: whitesmoke;
    color: rgb(22, 96, 71);
    padding: 10px;
    width: 100%;

}

/* #features {
    border-radius: 15px;
}  */

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: rgb(22, 96, 71);;
    font-size: 40px;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

/*    VIDEO    */

#how-it-works {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}


/*    PRICING    */



